# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_DISPLAY_CUSTOM_WIDGET
    bool "Use custom widgets for display"
    depends on ZMK_DISPLAY
    default n
    
config ZMK_DISPLAY_USE_COMPANY_LOGO
    bool "Use custom company logo on right display"
    depends on ZMK_DISPLAY
    default n
